/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */


/* needed styles */

.bubble {
	background-color: #424242;
	text-align: center;
	font-size: .85em;
	max-width: 260px;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	position: relative;
	margin: auto;
}

.bubble:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #424242;
	border-bottom: 0;
	margin-left: -5px;
	margin-bottom: -7px;
}

/* wrapper styles  */

.wrapper {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: .85em;
	margin: 2em auto;
	text-align: left;
	max-width: 260px;
	display: border-box;
	border: 1px solid #777;
	margin-top: 10px;
	margin-bottom: 10px;
}

.days-left {
	margin: 10px 20px;
}

.bar {
	border: 5px solid transparent;
	background-color: #eaeaea;
	margin-top: 0px;
	height: 10px;
	width: 258px;
	position: relative;
}

.progress {
	width: 200px;
	background-color: #EF5F3C;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
}

.donation input {
	width: 100px;
	height: 45px;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	font-size: 15px;

}

.green-btn {
	color: white;
	background-color: green;
	width: 100px;
	height: 45px;
	border: solid transparent;
	border-radius: 5px;
}

.convince-me {
	margin: 15px 15px;
}

.convince-me a {
	text-decoration: none;
	margin-right: 150px;
	color: #20A1D4;
	font-size: .90em;
}

.orange-words {
	color: #EF5F3C;
}

/* aux button styles  */

.aux-btns {
	margin: auto;
	text-align: center;
	width: 130px;

}

.save,
.share {
	border: 1px solid #777;
	border-radius: 5px;
	margin-bottom: 10px;
	height: 35px;
	width: 115px;
	background-color: #eaeaea;
	color: #777;
	font-size: .70em;
	padding: 10px;
}

.save {
	float: left;
	margin-left: -65px;

}

.share {
	float: right;
	margin-right: -65px;
}
